In [22]:
import numpy as np
import pandas as pd

n_data = 10000
idTransaksi = np.random.randint(1, 10001, size = n_data)
tglTransaksi = np.random.randint(1,32, size = n_data)
blnTransaksi = np.random.randint(1,13, size = n_data)
thnTransaksi = np.random.randint(2022,2025, size = n_data)
usiaPembeli = np.random.randint(21,81, size = n_data)
beratBarang = np.random.randint(5,1000, size = n_data)
kaliTransaksi = np.random.randint(1,21, size = n_data)
waktuKirim = np.random.randint(1,15, size = n_data)
gender = np.random.choice(['L','P'], size = n_data)
ongkir = np.random.choice(['10000','20000','30000','40000','50000'], size = n_data)

df = pd.DataFrame({
    'ID Transaksi':idTransaksi,
    'Tanggal': tglTransaksi,
    'Bulan': blnTransaksi,
    'Tahun': thnTransaksi,
    'Usia Pembeli': usiaPembeli,
    'Gender': gender,
    'Berat Barang (gr)': beratBarang,
    'Berapa Kali Transaksi': kaliTransaksi,
    'Waktu Pengiriman (Hari)': waktuKirim,
    'Ongkos Kirim': ongkir
})

df.to_csv('dataLatihan.csv',index = False)
df

,ID Transaksi,Tanggal,Bulan,Tahun,Usia Pembeli,Gender,Berat Barang (gr),Berapa Kali Transaksi,Waktu Pengiriman (Hari),Ongkos Kirim
0,8381,25,3,2023,51,L,107,12,7,20000
1,6919,15,5,2024,21,P,956,19,9,10000
2,5578,25,2,2024,45,L,12,19,14,30000
3,9069,25,12,2022,51,P,820,1,1,40000
4,5746,31,12,2022,64,P,855,19,11,10000
...,...,...,...,...,...,...,...,...,...,...
9995,275,26,6,2023,51,L,952,11,7,20000
9996,9222,6,3,2023,31,L,291,10,13,20000
9997,8510,20,11,2024,79,L,101,11,1,10000
9998,5012,6,9,2024,26,L,835,11,7,30000
9999,1292,13,5,2022,63,P,327,10,13,40000